/* -- General settings -- */
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif; /* 500, 700 */
    line-height: 1.7em;
    background: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* -- Main content -- */
main {
    max-width: 25em;
    background: white;
    border-radius: 15px;
    color: var(--Desaturated-Dark-Blue);
}

/* Heading - screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main-img {
    display: block;
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

/* Text content */
.text-wrap {
    margin: 3em 2em 0;
}

h2 {
    font-size: 1.3em;
}

h2, figure {
    margin: 0;
}

h2, .name {
    color: var(--Very-Dark-Grayish-Blue);
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-wrap {
    max-width: 3em;
    display: flex;
    align-items: center;
}

figcaption, .avatar-wrap {
    flex: 1;
}

.avatar {
    display: block;
    max-width: 100%;
    border-radius: 50%;
}

.caption-text {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

/* Socials icons + links */
.socials { 
    position: absolute;
    width: 25em;
    height: 70.2px;
    list-style: none;
    margin: 0 0 0 -26px;
    padding-left: 26px;
    align-items: center;
    gap: 1.5em;
    background: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 15px 15px;
    display: none;
} 

.text-share {
    text-transform: uppercase;
    color: var(--Grayish-Blue);
}

.fb {
    background: url(/assets/img/icon-facebook.svg);
}

.tw {
    background: url(/assets/img/icon-twitter.svg);
}

.pin {
    background: url(/assets/img/icon-pinterest.svg);
}

.fb, .tw, .pin {
    background-color: var(--Very-Dark-Grayish-Blue);
    display: block;
    width: 20px;
    height: 20px;
}

.tw {
    height: 17px;
}

/* Share button */
.share-btn {
    width: 40px;
    height: 40px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.svg-path {
    fill: #6E8098;
}

/* -- Footer -- */
footer {
    margin-top: 1em;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Active state */
.active {
    display: flex;
}

.svg-hover {
    fill: #fff;
}

.share-btn-hover {
    background: var(--Desaturated-Dark-Blue);
}

/* -- Media Queries -- */
@media screen and (min-width: 872px) {
    body {
    display: flex;
    justify-content: center;
    }
    
    main {
        max-width: 54em;
        display: flex;
    }   
    
    .main-img {
        height: 100%;
        border-radius: 15px 0 0 15px;
    } 
    
    figure {
        position: relative;
    }

    .socials {
        margin: 0;
        padding: 0;
        justify-content: center;
        width: 20em;
        height: 60px;
        border-radius: 15px;
        bottom: 80px;
        left: 243px;
    }

    .triangle {
        display: unset;
        position: absolute;
        background-color: var(--Very-Dark-Grayish-Blue);
        width: 20px;
        height: 20px;
        bottom: -10px;
        transform: rotate(45deg);
  }
}