/* -- General settings -- */
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif; /* 500, 700 */
    line-height: 1.7em;
    background: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* -- Main content -- */
main {
    max-width: 85%;
    background: white;
    margin: 4em 0 0 0;
    border-radius: 15px;
    color: var(--Desaturated-Dark-Blue);
}

/* Heading - screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.main-img {
    display: block;
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Text content */
.text-wrap {
    margin: 3em 2em 0.5em;
}

h2 {
    font-size: 1.3em;
}

h2, figure {
    margin: 0;
}

h2, .name {
    color: var(--Very-Dark-Grayish-Blue);
}

figure {
    display: flex;
    justify-content: space-between;
}

.avatar-wrap {
    max-width: 15%;
    display: flex;
    align-items: center;
}

figcaption, .avatar-wrap {
    flex: 1;
}

.avatar {
    display: block;
    max-width: 100%;
    border-radius: 50%;
}

.caption-text {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

/* -- Footer -- */
footer {
    margin-top: 1em;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }